
// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-mono: 'IBM Plex Mono', monospace;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Sizes
$page-header-height: 40px;
$page-header-margin: 20px;

// Colors
$background-primary: #1E2431;
/*$background-secondary: #2F4343;*/
$background-secondary: #486261;
$text-primary: #DCDEE4;

$link-color: #b8c0d6;
$link-color-active: #FFFFFF;
$link-color-inactive: #80838e;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Star Ratings
$star-close: "\f005"; // fa-star
$star-open:  "\f006"; // fa-star-o
$star-half:  "\f123"; // fa-star-half-o
$star-font-size: 40px;
$star-font-size-sm: 20px;
$star-spacing: 5px;
$star-color-inactive: #888;
$star-color-active: #2373CC;
$star-color-hover: #6EA3DF;
