
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.star-container {
  height: $star-font-size;
  font-size: 0;
  float:left;
  position: relative;
  top: -0.8rem;
}

.star-container,
.star-container .star-radio:not(:disabled) ~ .star-label,
.star-container .star-radio:not(:disabled) { cursor: pointer; }

.star-container .star-label { float: right; }

.star-container .star-label,
.star-container .star-radio,
.star-container .star-label:before {
  width: $star-font-size;
  height: $star-font-size;
  margin: 0;
}

.star-container .star-radio { display: none; }

.star-container .star-label {
  position: relative;
  display: inline-block;
  color: $star-color-inactive;
}

.star-container .star-label:before {
  position: absolute;
  font-family: FontAwesome;
  content: $star-open;
  font-size: $star-font-size;
}

.star-container .star-radio:checked ~ .star-label { color: $star-color-active; }
.star-container .star-radio:checked ~ .star-label:before { content: $star-close; }

.star-container .star-radio:not(:checked):not(:disabled) ~ .star-label:hover,
.star-container .star-radio:not(:checked):not(:disabled) ~ .star-label:hover ~ .star-label { color: $star-color-hover; }
.star-container .star-radio:not(:checked):not(:disabled) ~ .star-label:hover ~ .star-label:before,
.star-container .star-radio:not(:checked):not(:disabled) ~ .star-label:hover:before { content: $star-close; }

.task-entry-container {
  position: relative;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  margin-bottom: 5px;

  .task-description {
    width: 90%;
    padding: 6px 12px;
  }

  .task-timestamp {
    font-size: 0.8em;
    color: $text-muted;
    padding: 3px 12px;
  }
  .task-delete-form {
    max-width: 10%;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
  }
}


@media(max-width: 768px) {

  .star-container {
    height: $star-font-size-sm;
  }

  .star-container .star-label,
  .star-container .star-radio,
  .star-container .star-label:before {
    width: $star-font-size-sm;
    height: $star-font-size-sm;
  }

  .star-container .star-label:before {
    font-size: $star-font-size-sm;
  }
}